deforum-stable-diffusion
waifu-diffusion-v1-3.ckpt
pixelart-diffusion-v1-3.pt
pixelart-diffusion-4k.pt
sd-v1-5.ckpt
src
.vscode
settings.json
MiDaS
pytorch3d-lite
stable-diffusion
__pycache__
2022-11
video_sd.py
k-diffusion
AdaBins
disco-to-do.txt
models-to-do.txt